<!doctype html>
{% extends 'init/base.html' %}

{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Pragmatic Mates s.r.o. - http://pragmaticmates.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">


    <title>About Us | Gosloo | Portfolio HTML Template</title>
</head>

<body>
{% block content %}
<div id="wrapper">
    <div class="header-wrapper">

        <br>
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="header-title-main">关于我们</h1>
                    </div><!-- /.col-->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.header-title -->
    </div><!-- /.header-wrapper -->

    <div class="main-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <!-- PORTFOLIO -->
                    <div class="block-content background-gray no-margin-bottom no-padding">
                        <div class="block-content-inner">
                            <div class="portfolio-grid">
                                <div class="row">
                                    <div class="portfolio-grid-inner">
                                        <div class="portfolio-grid-inner-wrapper col-sm-12 col-md-6">
                                            <div class="portfolio-grid-item portfolio-grid-item-icon background-magenta col-sm-6 col-md-6 hidden-xs">
                                                <a href="#" class="portfolio-grid-item-inner" data-animation="shake">
                                                    <i class="fa fa-desktop"></i>
                                                </a><!-- /.portfolio-grid-item-inner -->
                                            </div><!-- /.portfolio-grid-item -->

                                            <div class="portfolio-grid-item portfolio-grid-item-arrow-left xs-no-arrow sm-no-arrow col-sm-6 col-md-6">
                                                <div class="portfolio-grid-item-inner xs-no-square">
                                                    <div class="portfolio-grid-item-content">
                                                        <h2><a href="#">公司名称</a></h2>

                                                        <p>中磊工程造价咨询有限责任公司</p>


                                                    </div><!-- /.portfolio-item-content -->
                                                </div><!-- /.portfolio-grid-item-inner -->
                                            </div><!-- /.portfolio-grid-item -->
                                        </div><!-- /.col-sm-6 -->

                                        <div class="portfolio-grid-inner-wrapper col-sm-12 col-md-6">
                                            <div class="portfolio-grid-item portfolio-grid-item-arrow-left xs-no-arrow sm-no-arrow col-sm-6 col-md-6 pull-right sm-float-left">
                                                <div class="portfolio-grid-item-inner xs-no-square">
                                                    <div class="portfolio-grid-item-content">
                                                        <h2><a href="#">公司地址</a></h2>

                                                        <p>北京市西城区阜成门外大街1号四川大厦东塔楼18层北区</p>


                                                    </div><!-- /.portfolio-item-content -->
                                                </div><!-- /.portfolio-grid-item-inner -->
                                            </div><!-- /.portfolio-grid-item -->

                                            <div class="portfolio-grid-item portfolio-grid-item-icon background-azur col-sm-6 col-md-6 pull-left sm-no-float-right hidden-xs">
                                                <a href="#" class="portfolio-grid-item-inner" data-animation="shake">
                                                    <i class="fa fa-pencil"></i>
                                                </a><!-- /.portfolio-grid-item-inner -->
                                            </div><!-- /.portfolio-grid-item -->
                                        </div><!-- /.col-sm-6 -->
                                    </div><!-- /.portfolio-grid-inner -->
                                </div><!-- /.row -->

                                <div class="row">
                                    <div class="portfolio-grid-inner">
                                        <div class="portfolio-grid-inner-wrapper col-sm-12 col-md-6">
                                            <div class="portfolio-grid-item portfolio-grid-item-icon background-blue col-sm-6 col-md-6 pull-right sm-float-left hidden-xs">
                                                <a href="#" class="portfolio-grid-item-inner" data-animation="shake">
                                                    <i class="fa fa-heart"></i>
                                                </a><!-- /.portfolio-grid-item-inner -->
                                            </div><!-- /.portfolio-grid-item -->

                                            <div class="portfolio-grid-item portfolio-grid-item-arrow-right xs-no-arrow sm-no-arrow col-sm-6 col-md-6 pull-left sm-float-right">
                                                <div class="portfolio-grid-item-inner xs-no-square">
                                                    <div class="portfolio-grid-item-content">
                                                        <h2><a href="#">联系方式：</a></h2>

                                                        <p> 公司电话：010 88337312</p>
                                                        <p> 传    真：010 88337312</p>


                                                    </div><!-- /.portfolio-item-content -->
                                                </div><!-- /.portfolio-grid-item-inner -->
                                            </div><!-- /.portfolio-grid-item -->
                                        </div><!-- /.col-sm-6 -->

                                        <div class="portfolio-grid-inner-wrapper col-sm-12 col-md-6">
                                            <div class="portfolio-grid-item portfolio-grid-item-arrow-right xs-no-arrow sm-no-arrow col-sm-6 col-md-6">
                                                <div class="portfolio-grid-item-inner xs-no-square">
                                                    <div class="portfolio-grid-item-content">
                                                        <h2><a href="#">公司宗旨</a></h2>

                                                        <p>以质量求信誉，以帮助客户发展为己任，能高标准、严要求地为社会各界客户服务，为社会经济的发展和进步做出贡献。</p>


                                                    </div><!-- /.portfolio-item-content -->
                                                </div><!-- /.portfolio-grid-item-inner -->
                                            </div><!-- /.portfolio-grid-item -->

                                            <div class="portfolio-grid-item portfolio-grid-item-icon background-green col-sm-6 col-md-6 hidden-xs">
                                                <a href="#" class="portfolio-grid-item-inner" data-animation="shake">
                                                    <i class="fa fa-comments"></i>
                                                </a><!-- /.portfolio-grid-item-inner -->
                                            </div><!-- /.portfolio-grid-item -->
                                        </div><!-- /.col-sm-6 -->
                                    </div><!-- /.portfolio-grid-inner -->
                                </div><!-- /.row -->
                            </div><!-- /.portfolio-grid -->
                        </div><!-- /.block-content-inner -->
                    </div><!-- /.block-content -->

                    <!-- ABOUT OUR COMPANY -->
                    <div class="block-content has-ears background-white">
                        <div class="block-content-inner">
                            <h2 class="block-title">公司 <span class="light">介绍</span></h2>

                            <div class="has-arrow block-large-text">
                                <p>
中磊工程造价咨询有限责任公司是在原中磊会计师事务所有限责任公司的基础上分立出来的中介机构。是建设部认定的工程造价咨询甲级资质单位，通过了最高人民法院司法经济鉴定，在全国同类企业中成立时间最早、开展业务时间最长的专业咨询公司之一。公司近几年连续获得全国范围内工程造价咨询营业收入综合排名前50名企业的荣誉称号，在建设部、行业协会的质量检查中受到多次高度好评，也受到客户的普遍肯定。                                </p>

                                <p>
公司成立以来始终 “诚信、科学”的宗旨，公司注重企业内部质量保证体系、注重资源和专业技术资源的建立、发展和完善。以质量求信誉，以帮助客户发展为己任，能高标准、严要求地为社会各界客户服务，为社会经济的发展和进步做出贡献。                                </p>

                                <p>专业技术力量雄厚，有国家注册造价工程师、注册咨询工程师和中高级职称为主的工程造价专业人员百余人。他们熟悉工程技术、造价控制，了解多方面法律、法规。另外，公司有数名资深专家及有影响的业内人士组成的智囊团，作为公司坚强的后盾。</p>

                                <p> 公司总部位于北京市，在上海、江西、吉林、广东、山东、山西省市设有15余家分公司；拥有员工百余人，造价工程师等专业技术人员73余人，其中具有中高级职称者62余人。</p>
                            </div><!-- /.has-arrow -->
                        </div><!-- /.block-content-inner -->
                    </div><!-- /.block-content -->

                    <!-- OUR CLIENTS -->
                    <div class="block-content background-white no-margin-bottom fullwidth">
                        <div class="block-content-inner">
                            <h2 class="block-title">公司经营<span class="light">范围</span></h2>

                            <div class="has-arrow block-large-text mb50">
                                <p>
                                （一）建设项目建议书及可行性研究投资估算、项目经济评价报告的编制和审核；
                                 </p>
                                <p>（二）建设项目概预算的编制与审核，并配合设计方案比选、优化设计、限额设计等工作进行工程造价分析与控制；</p>
                                <p> （三）建设项目合同价款的确定；合同价款的签订与调整及工程款支付，工程结算及竣工结（决）算报告的编制和审核等；</p>
                                <p> （四）工程造价经济纠纷的鉴定和仲裁的咨询；</p>
                                <p>   （五）提供工程造价信息服务等。</p>
                                <p>    中磊工程造价咨询有限责任公司一直以执业质量为生存之本，在建设部、北京市建设委员会多次质量检查中受到高度好评，近几年无任何不良执业记录。</p>
                            </div><!-- /.block-large-text -->
                        </div><!-- /.block-content-inner -->
                    </div><!-- /.block-content -->
                </div><!-- /.container -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->
    </div><!-- /.main-wrapper -->
</div><!-- /#wrapper -->

<script type="text/javascript" src="{% static 'assets02/js/jquery.js"></script>
<script type="text/javascript" src="{% static 'assets02/libraries/bootstrap-sass/vendor/{% static 'assets02/javascripts/bootstrap/carousel.js"></script>
<script type="text/javascript" src="{% static 'assets02/libraries/bootstrap-sass/vendor/{% static 'assets02/javascripts/bootstrap/button.js"></script>
<script type="text/javascript" src="{% static 'assets02/libraries/bootstrap-sass/vendor/{% static 'assets02/javascripts/bootstrap/collapse.js"></script>
<script type="text/javascript" src="{% static 'assets02/libraries/bootstrap-sass/vendor/{% static 'assets02/javascripts/bootstrap/transition.js"></script>
<script type="text/javascript" src="{% static 'assets02/libraries/jquery-smooth-scroll/src/jquery.smooth-scroll.js"></script>
<script type="text/javascript" src="{% static 'assets02/libraries/isotope/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{% static 'assets02/libraries/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="{% static 'assets02/libraries/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{% static 'assets02/js/gosloo.js"></script>
{% endblock %}
</body>
</html>