{% extends 'init/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>{% block title %}Contact{% endblock %}</title>
{% block style %}
    <link href="{% static 'assets03/css/application.css' %}" rel="stylesheet">
{% endblock %}

</head>
<body>
{% block content %}
  <!--/.navbar -->
    <div class="offset"></div>

    <div id="portfolio" class="section anchor">
        <div class="dark-wrapper">
          <div class="container inner">
            <h2 class="section-title text-center">联系我们</h2>
            <div class="grid-portfolio fix-portfolio">
              <ul class="content-slider items">
                <li class="item thumb web">
                    <div class="content-block regions--contact-list--item table-cell 0">
                        <p class="content-block--title">北京</p>
                        <table class="content-block--table">
                            <tbody>
                                <tr>
                                    <td class="content-block--table-cell">联系:</td>
                                    <td class="content-block--table-cell">测试人</td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电邮:</td>
                                    <td class="content-block--table-cell">
                                    <a href="mailto:sm.tuen@cn.rlb.com">abcdefg@cn.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电话:</td>
                                    <td class="content-block--table-cell">
                                    <a href="tel:+86 10 6515 5818">+86 10 6515 5818</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">地点:</td>
                                    <td class="content-block--table-cell time-display" data-timezone-offset="28800">北京市东城区景山前街4号</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="item thumb web">
                    <div class="content-block regions--contact-list--item table-cell 0">
                        <p class="content-block--title">北京</p>
                        <table class="content-block--table">
                            <tbody>
                                <tr>
                                    <td class="content-block--table-cell">联系:</td>
                                    <td class="content-block--table-cell">测试人</td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电邮:</td>
                                    <td class="content-block--table-cell">
                                    <a href="mailto:sm.tuen@cn.rlb.com">abcdefg@cn.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电话:</td>
                                    <td class="content-block--table-cell">
                                    <a href="tel:+86 10 6515 5818">+86 10 6515 5818</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">地点:</td>
                                    <td class="content-block--table-cell time-display" data-timezone-offset="28800">北京市东城区景山前街4号</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                  <li class="item thumb web">
                    <div class="content-block regions--contact-list--item table-cell 0">
                        <p class="content-block--title">北京</p>
                        <table class="content-block--table">
                            <tbody>
                                <tr>
                                    <td class="content-block--table-cell">联系:</td>
                                    <td class="content-block--table-cell">测试人</td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电邮:</td>
                                    <td class="content-block--table-cell">
                                    <a href="mailto:sm.tuen@cn.rlb.com">abcdefg@cn.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电话:</td>
                                    <td class="content-block--table-cell">
                                    <a href="tel:+86 10 6515 5818">+86 10 6515 5818</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">地点:</td>
                                    <td class="content-block--table-cell time-display" data-timezone-offset="28800">北京市东城区景山前街4号</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                  <li class="item thumb web">
                    <div class="content-block regions--contact-list--item table-cell 0">
                        <p class="content-block--title">北京</p>
                        <table class="content-block--table">
                            <tbody>
                                <tr>
                                    <td class="content-block--table-cell">联系:</td>
                                    <td class="content-block--table-cell">测试人</td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电邮:</td>
                                    <td class="content-block--table-cell">
                                    <a href="mailto:sm.tuen@cn.rlb.com">abcdefg@cn.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电话:</td>
                                    <td class="content-block--table-cell">
                                    <a href="tel:+86 10 6515 5818">+86 10 6515 5818</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">地点:</td>
                                    <td class="content-block--table-cell time-display" data-timezone-offset="28800">北京市东城区景山前街4号</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                  <li class="item thumb web">
                    <div class="content-block regions--contact-list--item table-cell 0">
                        <p class="content-block--title">北京</p>
                        <table class="content-block--table">
                            <tbody>
                                <tr>
                                    <td class="content-block--table-cell">联系:</td>
                                    <td class="content-block--table-cell">测试人</td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电邮:</td>
                                    <td class="content-block--table-cell">
                                    <a href="mailto:sm.tuen@cn.rlb.com">abcdefg@cn.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电话:</td>
                                    <td class="content-block--table-cell">
                                    <a href="tel:+86 10 6515 5818">+86 10 6515 5818</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">地点:</td>
                                    <td class="content-block--table-cell time-display" data-timezone-offset="28800">北京市东城区景山前街4号</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                  <li class="item thumb web">
                    <div class="content-block regions--contact-list--item table-cell 0">
                        <p class="content-block--title">北京</p>
                        <table class="content-block--table">
                            <tbody>
                                <tr>
                                    <td class="content-block--table-cell">联系:</td>
                                    <td class="content-block--table-cell">测试人</td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电邮:</td>
                                    <td class="content-block--table-cell">
                                    <a href="mailto:sm.tuen@cn.rlb.com">abcdefg@cn.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电话:</td>
                                    <td class="content-block--table-cell">
                                    <a href="tel:+86 10 6515 5818">+86 10 6515 5818</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">地点:</td>
                                    <td class="content-block--table-cell time-display" data-timezone-offset="28800">北京市东城区景山前街4号</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                  <li class="item thumb web">
                    <div class="content-block regions--contact-list--item table-cell 0">
                        <p class="content-block--title">北京</p>
                        <table class="content-block--table">
                            <tbody>
                                <tr>
                                    <td class="content-block--table-cell">联系:</td>
                                    <td class="content-block--table-cell">测试人</td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电邮:</td>
                                    <td class="content-block--table-cell">
                                    <a href="mailto:sm.tuen@cn.rlb.com">abcdefg@cn.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">电话:</td>
                                    <td class="content-block--table-cell">
                                    <a href="tel:+86 10 6515 5818">+86 10 6515 5818</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block--table-cell">地点:</td>
                                    <td class="content-block--table-cell time-display" data-timezone-offset="28800">北京市东城区景山前街4号</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>

              </ul>
              <!-- /.items -->
            </div>
            <!-- /.portfolio -->
          </div>
    </div>
  </div>
    <!-- /.container -->
  </div>
{% endblock %}

</body>
</html>