{% extends 'init/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>{% block title %}Home{% endblock %}</title>

</head>
<body>
{% block content %}

    <div class="offset"></div>

    <div id="portfolio" class="section anchor">
        <div class="dark-wrapper">
          <div class="container inner">
            <h2 class="section-title text-center">项目展示</h2>
{#            <p class="lead main text-center">伟大的设计理解客户需求</p>#}
            <div class="grid-portfolio fix-portfolio">
              <ul class="filter">
                  {% for type in allType %}
                      {% if type.nameEN == displayProject %}
                        <li><a class="active" href="/web/services/?category={{ type.nameEN }}&page=1" data-filter="*">{{ type.nameCN }}</a></li>
                      {% else %}
                          <li><a href="/web/services/?category={{ type.nameEN }}&page=1" data-filter="*">{{ type.nameCN }}</a></li>
                      {% endif %}
                  {% endfor %}
{#                    <li><a class="active" href="#" data-filter="*">所有</a></li>#}
{#                    <li><a href="{% url 'web:services' 'OfficeBuilding' %}" data-filter=".web">办公楼</a></li>#}
{#                    <li><a href="{% url 'web:services' 'EducationResearch' %}" data-filter=".graphic">教育及研究</a></li>#}
{#                    <li><a href="{% url 'web:services' 'Residential' %}" data-filter=".photo">住宅</a></li>#}
{#                    <li><a href="{% url 'web:services' 'Infrastructure' %}" data-filter=".motion">基础设施</a></li>#}
              </ul>

              <!-- /filter -->

              <ul class="content-slider items">
                  {% for item in projectList %}
                <li class="item thumb web">
                  <figure>
                      <a href="{% url 'web:detail' item.id %}" class="imgParse" >
                        <div class="text-overlay">
                          <div class="info">{{ item.title }}</div>
                        </div>
                        <img src="{{ item.picture.url }}" alt="" />
                      </a>
                  </figure>
                </li>
                  {% endfor %}
              </ul>
                <ul class="pagination" id="pager">
                    {% if projectList.has_previous %}
                        <li class="previous">
                            <a href="/web/services/?category={{ category }}&page={{ projectList.previous_page_number }}">上一页</a>
                        </li>
                    {% else %}
                        <li class="disabled"><a href="#">上一页</a></li>
                    {% endif %}
                    {% for num in paginator.page_range %}
                        {% if num == currentPage %}
                            <li class="item active">
                                <a href="/web/services/?category={{ category }}&page={{ num }}">{{ num }}</a>
                            </li>
                        {% else %}
                            <li class="item">
                                <a href="/web/services/?category={{ category }}&page={{ num }}">num</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if projectList.has_next %}
                        <li class="previous">
                            <a href="/web/services/?category={{ category }}&page={{ projectList.next_page_number }}">下一页</a>
                        </li>
                    {% else %}
                        <li class="disabled"><a href="#">下一页</a></li>
                    {% endif %}

                </ul>
              <!-- /.items -->
            </div>
            <!-- /.portfolio -->
          </div>
    </div>
  </div>
  <!-- /#portfolio -->
{% endblock %}

</body>
</html>