{% extends 'init/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>{% block title %}Home{% endblock %}</title>

</head>
<body>
{% block content %}

    <div class="offset"></div>

    <div id="portfolio" class="section anchor">
        <div class="dark-wrapper">
          <div class="container inner">
            <h2 class="section-title text-center">项目展示</h2>
{#            <p class="lead main text-center">伟大的设计理解客户需求</p>#}
            <div class="grid-portfolio fix-portfolio">
              <ul class="filter">
                <li><a class="active" href="#" data-filter="*">所有</a></li>
                <li><a href="#" data-filter=".web">办公楼</a></li>
                <li><a href="#" data-filter=".graphic">教育及研究</a></li>
                <li><a href="#" data-filter=".photo">住宅</a></li>
                <li><a href="#" data-filter=".motion">基础设施</a></li>
              </ul>

              <!-- /filter -->

              <ul class="content-slider items">
                  {% for item in allProject %}
                <li class="item thumb web">
                  <figure><a href="#" data-contenturl="portfolio-post.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">{{ item.title }}</div>
                    </div>
                    <img src="{{ item.picture.url }}" alt="" /> </a></figure>
                </li>
                  {% endfor %}
                <li class="item thumb graphic">
                  <figure><a href="#" data-contenturl="portfolio-post2.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Half Slider</div>
                    </div>
                    <img src="{% static 'assets/img/art/p2.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb web">
                  <figure><a href="#" data-contenturl="portfolio-post3.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Carousel Gallery</div>
                    </div>
                    <img src="{% static 'assets/img/art/p3.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb web">
                  <figure><a href="#" data-contenturl="portfolio-post4.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Multiple Images</div>
                    </div>
                    <img src="{% static 'assets/img/art/p4.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb photo">
                  <figure><a href="#" data-contenturl="portfolio-post5.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Multiple Half Images</div>
                    </div>
                    <img src="{% static 'assets/img/art/p5.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb motion">
                  <figure><a href="#" data-contenturl="portfolio-post6.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Fullscreen Slider</div>
                    </div>
                    <img src="{% static 'assets/img/art/p6.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb photo">
                  <figure><a href="#" data-contenturl="portfolio-post7.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Fullwidth Video</div>
                    </div>
                    <img src="{% static 'assets/img/art/p7.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb web">
                  <figure><a href="#" data-contenturl="portfolio-post8.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Half Video</div>
                    </div>
                    <img src="{% static 'assets/img/art/p8.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb graphic">
                  <figure><a href="#" data-contenturl="portfolio-post.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Fullwidth Slider</div>
                    </div>
                    <img src="{% static 'assets/img/art/p9.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb web">
                  <figure><a href="#" data-contenturl="portfolio-post2.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Half Slider</div>
                    </div>
                    <img src="{% static 'assets/img/art/p10.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb motion">
                  <figure><a href="#" data-contenturl="portfolio-post3.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Carousel Gallery</div>
                    </div>
                    <img src="{% static 'assets/img/art/p11.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb motion">
                  <figure><a href="#" data-contenturl="portfolio-post4.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Multiple Images</div>
                    </div>
                    <img src="{% static 'assets/img/art/p12.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb photo">
                  <figure><a href="#" data-contenturl="portfolio-post5.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Multiple Half Images</div>
                    </div>
                    <img src="{% static 'assets/img/art/p13.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb graphic">
                  <figure><a href="#" data-contenturl="portfolio-post6.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Fullscreen Slider</div>
                    </div>
                    <img src="{% static 'assets/img/art/p14.jpg' %}" alt="" /> </a></figure>
                </li>
                <li class="item thumb web">
                  <figure><a href="#" data-contenturl="portfolio-post7.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                    <div class="text-overlay">
                      <div class="info">Fullwidth Video</div>
                    </div>
                    <img src="{% static 'assets/img/art/p15.jpg' %}" alt="" /> </a></figure>
                </li>
              </ul>
              <!-- /.items -->
            </div>
            <!-- /.portfolio -->
          </div>
    </div>
  </div>
  <!-- /#portfolio -->
{% endblock %}

</body>
</html>